<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubs - Full Display</title>
</head>
<body>
    <h1>Current Point Count For All Our Adherents</h1>
    <ul>
        {% for club in clubs %}
        <li>
            {{ club['name'] }}<br />
            Points: {{ club['points'] }}</br>
        </li>
        <hr />
        {% endfor %}
    </ul>

    </ br> To return, please click <a href="{{ url_for('index') }}">here</a>.
</body>
</html>